apiVersion: v1
kind: ConfigMap
metadata:
  name: get-caramel-config
data:
  APP_ENV: "staging"
  PAYMENT_PROVIDER: "local"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
spec:
  replicas: 2
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-gateway
spec:
  rules:
    - host: staging-api.get-caramel.com
